.border {
  border: 1px solid red;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

@mixin responsive-computer {
  @media screen and (max-width: 1500px) {
    @content;
  }
}

.container-home {
  width: 100%;
  height: 100vh;
}

.container-nav {
  color: $white-normal;
  background-color: $purple-dark;

  img {
    width: 80px;
  }

  input {
    width: 500px;
    height: 50px;

    border: none;
    border-radius: 6px;

    outline: none;

    font-size: 17px;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.6;
    }

    @include responsive-computer() {
      width: 350px;
      height: 40px;
    }
  }
}

.nav-list-link {
  list-style: none;
}

.nav-link {
  list-style: none;
  text-decoration: none;

  color: $white-dark;

  position: relative;

  padding: 20px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $orange-normal;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.about-container {
  img {
    width: 550px;
  }
}

.info-home {
  h1 {
    font-size: 90px;
    font-weight: 600;

    color: $orange-normal;
  }

  h2 {
    font-size: 60px;
    font-weight: 500;

    color: $orange-normal;
  }

  h3 {
    font-size: 40px;
    font-weight: 300;
  }

  .img-arrow {
    width: 50px;
    transform: rotateY(900deg);
  }
}

.img-category {
  height: 150px;

  animation-duration: 3s;
  animation-name: category;
  animation-iteration-count: infinite;
  transition: 2s;

  @keyframes category {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.img-cookies {
  transform: rotateY(900deg);
}
